{% extends "index.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

{% block content %}
<h1 class="my-4">{% translate 'Labels' %}</h1>
<a class="btn btn-primary" href="{% url 'create_label' %}">{% translate 'Create label' %}</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Created at' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for label in object_list %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.creation_date|date:'d.m.Y H:i' }}</td>
          <td>
            <a href="{% url 'edit_label' label.pk %}">{% translate 'Update' %}</a>
            <br>
            <a href="{% url 'delete_label' label.pk %}">{% translate 'Delete' %}</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}