<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load static %}
<html lang="ru-ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Менеджер задач Hexlet</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" href="{% url 'index' %}">Менеджер задач</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses' %}">Статусы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'labels' %}">Метки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">Задачи</a>
          </li>
          <li class="nav-item">
            <form id="logout-form" action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <a class="nav-link" onclick="document.getElementById('logout-form').submit();" style="cursor: pointer;">Выход</a>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}">{% trans "Registration" %}</a>
          </li>          
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container wrapper flex-grow-1">
    
    {% block show_messages %}
    {% bootstrap_messages %}
    {% endblock %}
    
    {% block content %}
      <h1 class="my-4"> 
      </h1>
      <h1 class="my-4"></h1>
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="display-4">Привет от Хекслета!</div>
          <p class="lead">Практические курсы по программированию</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io/">Узнать больше</a>
        </div>
      </div>
    {% endblock %}
    </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io/">Hexlet</a>
      </div>
    </footer>
  </body>
</html>