{% extends "index.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Log in' %}</h1>
    <form method="post">
        {%csrf_token %}
        {% if messages %}
            {%for message in messages %}
                {% if message.tag == error%}
                <ul class="list-unstyled text-danger">
                    <li>
                        {{ message }}
                    </li>
                </ul>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="id_username">{% translate 'User name' %}</label>
            <input type="text" name="username" autofocus="" autocapitalize="none"
            autocomplete="username" maxlength="150" class="form-control"
            placeholder="Имя пользователя" required="" id="id_username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_password">{% translate 'Password' %}</label>
            <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder={% translate 'Password' %} required="" id="id_password">
        </div>
        {% comment %} {% translate 'Enter' as button_name2 %} {% endcomment %}
        <input class="btn btn-primary" type="submit" value={% translate 'Enter' %}>
    </form>
</div>
{% endblock %}
